// Buttons partial

@import "partials/colors";

.btn {
	font-size: 13px;
	border: solid 1px;
	// -moz-border-radius: 40px;
	// -webkit-border-radius: 40px;
	// border-radius: 40px;
	// height: 40px;
	// width: 40px;
	display: inline-block;
	text-transform: uppercase;
}
.btn-small {
	padding: 8px 30px;
}
.btn-large {
	padding: 5px 30px;
}
.btn-margin-right {
	margin-right: 20px;
}
.btn:hover, .btn:active {
	color: $accent-color;
	border-color: $accent-color;
	background-color: $accent-color;
}
.btn-color {
	font-size: 11px;
	border: solid 1px;
	display: inline-block;
	border-color: $accent-color;
}
.btn-color:hover, .btn-color:active {
	color: $white-color;
	border-color: $accent-color;
	background-color: $accent-color;
}

.btn-white {
	// font-size: 10px;
	border: solid 1px;
	display: inline-block;
	border-color: $black-color;
}
.btn-white:hover {
	color: $accent-color;
	border-color: $accent-color;
}
.btn-white:active {
	color: $white-color !important;
	background-color: $accent-color;
}

.btn-fill {
	color: $white-color;
	border: solid 2px $accent-color;
	// -moz-border-radius: 40px;
	// -webkit-border-radius: 40px;
	// border-radius: 40px;
	display: inline-block;
	text-transform: uppercase;
	background-color: $accent-color;
}
.btn-fill:hover {
	color: $white-color;
	background-color: $accent-color-hover;
	border-color: $accent-color-hover;
}
.btn-fill:active {
	color: $white-color;
	background-color: $black-color;
	border-color: $black-color;
}
